
body, html {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.ui-top {
    height: 100px;
    width: 100%;
    background-color: #fff;
}

.ui-body {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-form-container {
    width: 350px;
    margin: 0;
}

form > .input-group {
    margin-bottom: 10px;
}

form > .btn {
    width: 350px;

}