<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>View/Home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Control.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Control.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>Control.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReports</servlet-name>
        <servlet-class>Control.ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReport</servlet-name>
        <servlet-class>Control.ViewReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffServelet</servlet-name>
        <servlet-class>Control.RegisterStaffServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVehicleServelet</servlet-name>
        <servlet-class>Control.RegisterVehicleServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverHome</servlet-name>
        <servlet-class>Control.DriverHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Control.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceController</servlet-name>
        <servlet-class>Control.MaintenanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MechanicHome</servlet-name>
        <servlet-class>Control.MechanicHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name> Login</servlet-name>
        <servlet-class> Control.Login </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name> Login</servlet-name>
        <url-pattern> /Login </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReports</servlet-name>
        <url-pattern>/ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReport</servlet-name>
        <url-pattern>/ViewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffServelet</servlet-name>
        <url-pattern>/RegisterStaffServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVehicleServelet</servlet-name>
        <url-pattern>/RegisterVehicleServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverHome</servlet-name>
        <url-pattern>/DriverHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MechanicHome</servlet-name>
        <url-pattern>/MechanicHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceController</servlet-name>
        <url-pattern>/MaintenanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
