<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>Control.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceController</servlet-name>
        <servlet-class>Control.MaintenanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewacademictrips</servlet-name>
        <servlet-class>Control.viewacademictrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfficialBookingServlet</servlet-name>
        <servlet-class>Control.OfficialBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewofficialtrips</servlet-name>
        <servlet-class>Control.viewofficialtrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Control.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVehicleServelet</servlet-name>
        <servlet-class>Control.RegisterVehicleServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffServelet</servlet-name>
        <servlet-class>Control.RegisterStaffServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovedAcademicUpdate</servlet-name>
        <servlet-class>Control.ApprovedAcademicUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalServelet</servlet-name>
        <servlet-class>Control.ApprovalServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcademicapproveServelet</servlet-name>
        <servlet-class>Control.AcademicapproveServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>Control.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Control.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReport</servlet-name>
        <servlet-class>Control.ViewReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReports</servlet-name>
        <servlet-class>Control.ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverReportServlet</servlet-name>
        <servlet-class>Control.DriverReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewtaskassigned</servlet-name>
        <servlet-class>Control.viewtaskassigned</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MechanicTaskReport</servlet-name>
        <servlet-class>Control.MechanicTaskReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewmechanictask</servlet-name>
        <servlet-class>Control.viewmechanictask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfficialApprovalServelet</servlet-name>
        <servlet-class>Control.OfficialApprovalServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfficialCancelServelet</servlet-name>
        <servlet-class>Control.OfficialCancelServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfficialApproveServlet</servlet-name>
        <servlet-class>Control.OfficialApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveServelet</servlet-name>
        <servlet-class>Control.ApproveServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>threedetails</servlet-name>
        <servlet-class>Control.threedetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceRequest</servlet-name>
        <servlet-class>Control.ServiceRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignMechanic</servlet-name>
        <servlet-class>Control.AssignMechanic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfficialApproveServelet</servlet-name>
        <servlet-class>Control.OfficialApproveServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignMechanicApproval</servlet-name>
        <servlet-class>Control.AssignMechanicApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancel</servlet-name>
        <servlet-class>Control.cancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mechanic1</servlet-name>
        <servlet-class>Control.Mechanic1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceController</servlet-name>
        <url-pattern>/MaintenanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReport</servlet-name>
        <url-pattern>/ViewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReports</servlet-name>
        <url-pattern>/ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewacademictrips</servlet-name>
        <url-pattern>/viewacademictrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewofficialtrips</servlet-name>
        <url-pattern>/viewofficialtrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfficialBookingServlet</servlet-name>
        <url-pattern>/OfficialBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVehicleServelet</servlet-name>
        <url-pattern>/RegisterVehicleServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcademicapproveServelet</servlet-name>
        <url-pattern>/AcademicapproveServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalServelet</servlet-name>
        <url-pattern>/ApprovalServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovedAcademicUpdate</servlet-name>
        <url-pattern>/ApprovedAcademicUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffServelet</servlet-name>
        <url-pattern>/RegisterStaffServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverReportServlet</servlet-name>
        <url-pattern>/DriverReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewtaskassigned</servlet-name>
        <url-pattern>/viewtaskassigned</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MechanicTaskReport</servlet-name>
        <url-pattern>/MechanicTaskReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewmechanictask</servlet-name>
        <url-pattern>/viewmechanictask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfficialApprovalServelet</servlet-name>
        <url-pattern>/OfficialApprovalServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfficialCancelServelet</servlet-name>
        <url-pattern>/OfficialCancelServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfficialApproveServlet</servlet-name>
        <url-pattern>/OfficialApproveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveServelet</servlet-name>
        <url-pattern>/ApproveServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>threedetails</servlet-name>
        <url-pattern>/threedetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceRequest</servlet-name>
        <url-pattern>/ServiceRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignMechanic</servlet-name>
        <url-pattern>/AssignMechanic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfficialApproveServelet</servlet-name>
        <url-pattern>/OfficialApproveServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignMechanicApproval</servlet-name>
        <url-pattern>/AssignMechanicApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancel</servlet-name>
        <url-pattern>/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mechanic1</servlet-name>
        <url-pattern>/Mechanic1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
